mixin akara__button__save(value)
  div(class=value + "-buttons")
    button(class=value + "-save") Save
    button(class=value + "-cancel") Cancel
    
mixin akara__button__reset(value)
  div(class=value + "-btn")
    button(class=value + "-reset") Reset
    button(class=value + "-submit") Submit